<h3>Edit Customer Form</h3>
<div [hidden]="submitted">
    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="firstname">First Name</label>
        <input type="text" class="form-control" id="firstName" required
        [(ngModel)]="customer.firstname" name="firstname">
      </div>
      
      <div class="form-group">
        <label for="lastname">Last Name</label>
        <input type="text" class="form-control" id="lastName" required
        [(ngModel)]="customer.lastname" name="lastname">
      </div>
      
      <div class="form-group">
        <label for="age">Age</label>
        <input type="number" class="form-control" id="age" required
        [(ngModel)]="customer.age" name="age">
      </div>
      
      <div class="btn-group">
		<button class="btn btn-primary" (click)="goBack()">Back</button>
    	<button type="submit" class="btn btn-success">Update</button>
		<button class="btn btn-danger" (click)="delete()">Delete</button>
	  </div>
      
    </form>
</div>

<div [hidden]="!submitted">
    <h4>Update successfully!</h4>
    <div class="btn-group">
      <button class="btn btn-primary" (click)="goBack()">Back</button>
      <button class="btn btn-success" (click)="submitted=false">Edit</button>
    </div>
</div>
